
/* Color scheme : https://www.canva.com/learn/website-color-schemes/ (number 4) */

:root {
  --background: #efefef;
  --title1: #ff3b3f;
  --title2: #898989;
  --highlight: #CAEBF2;
}

body {
    font-size:100%;
    margin-left:15%;
    margin-right:15%;
    background-color: var(--background);
}

.title {
    font-size:3em;
    color: var(--title1);
    font-family: Helvetica, sans-serif;
}

.subtitle {
    font-size:0.5em;
    color: var(--title2);
}

h2 {
    margin-top:3rem;
    font-size:1.5em;
    color: var(--title1);
    font-family: Helvetica, sans-serif;
    text-decoration:underlined;
}

h3 {
    font-size:1.2em;
    color: var(--title2);
    font-family: Helvetica, sans-serif;
    margin-top: 2em;
}
    
div.outline-text-3 {
    font-size:0.9em;
    font-family: Helvetica, sans-serif;
}

li {
    margin-top: 1em;
    margin-botton: 1em;
}

li::marker {
    color: var(--title1);
}

ul::marker {
    color: var(--title1);
}


a {
    font-family: Helvetica, sans-serif;
}

img {
    border: 4px solid var(--highlight);
    max-width: 500px;
    width: 100%;
}


table {
    margin: 2em;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid;
}

table td + td, table th + th {
    border-left: 0.1em solid var(--title2);
}

table tr {
    border-top: 0.1em solid var(--title2);
}

th, td {
    padding: 0.6em 1.2em;
    vertical-align: middle;
}

.src {
    font-size:2em;
    color:#94a1b2;
    background-color:#16161a;
    border: 2px solid var(--highlight);
    box-shadow: 3px 3px 3px var(--highlight);
}

code {
    font-size:2em;
}

.org-svg {
    margin: 1em;
    border: 4px solid var(--highlight);
    max-width: 500px;
    max-height: 600px;
    width: 100%;
}
