.title {
    color:darkred;
    text-decoration:underlined }

.subtitle {
    color:darkblue }

h2 {
    color:darkgreen;
}

h3 {
    color:brown;
}

div.outline-text-3 {
    font-size:small;
}

body {
    margin-left:5%;
    margin-right:5%;
}

.src {
    font-size:large;
    color:#C8C8C8;
    background-color:#454545;
}

code {
    font-size:large;
}
